article {
  header {
    .posttitle {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: none;
      font-size: 1.5em;
      line-height: 1.25;
    }
    .meta {
      margin-top: 0;
      margin-bottom: 1.6em;
    }
    .meta * {
      color: $color-accent-3;
      font-size: .85rem;
    }
    .author {
      text-transform: none;
      letter-spacing: .01em;
      font-weight: 700;
    }
    .postdate {
      display: inline;
    }
  }
  .content {
    gap: 1.6em;

    > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    h2 {
      &:before {
        position: absolute;
        top: -4px;
        left: -1rem;
        color: $color-accent-1;
        content: "#";
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    ul, ol {
      li + li {
        margin-top: 0.4em;
      }
      li > p {
        margin-top: 0;
        margin-bottom: 0;
      }
      li > p + p {
        margin-top: 0.8em;
      }
    }

    img,
    video {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
    }

    /* http://webdesignerwall.com/tutorials/css-elastic-videos */
    .video-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25% e;
      // (9/16 * 100)% // 16:9 ratio
      height: 0;

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
      }
    }
    blockquote {
      margin: 1.6em;
      padding: 0;
      background: inherit;
      color: inherit;
      font-style: italic;
      font-weight: normal;

      p {
        margin: 0;
      }
      footer {
        margin: $line-height 0;
        color: $color-meta;
        font-size: 11px;

        a {
          background-image: linear-gradient(transparent, transparent 5px, $color-meta 5px, $color-meta);
          color: $color-meta;
        }
        a:hover {
          background-image: linear-gradient(transparent, transparent 4px, $color-meta-hover 4px, $color-meta-hover);
          color: $color-meta-hover;
        }
        cite {
          &:before {
            padding: 0 .5em;
            content: "—";
          }
        }
      }
    }
    .pullquote {
      margin: 0;
      width: 45%;
      text-align: left;

      &.left {
        margin-right: 1em;
        margin-left: .5em;
      }
      &.right {
        margin-right: .5em;
        margin-left: 1em;
      }
    }
    .caption {
      position: relative;
      display: block;
      margin-top: .5em;
      color: $color-meta;
      text-align: center;
      font-size: .9em;
    }
  }
}
.article-tag {
  .tag-link {
    &:before {
      content: "#";
      @include underline(10px, $color-link);
    }
  }
}
.article-category {
  .category-link {
    @include underline(10px, $color-link);
  }
}
@media (min-width: 480px) {
  .article-read-time,
  .article-tag,
  .article-category {
    display: inline;

    &:before {
        content: " | ";
    }
  }
};

.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px dashed $color-border;
  font-size: .85rem;

  a {
    color: $color-meta;
    max-width: 48%;
    @include underline(5px, $color-meta);

    &:hover {
      color: $color-link;
      background-image: linear-gradient(transparent, transparent 4px, $color-link 4px, $color-link);
    }
  }

  .next {
    margin-left: auto;
    text-align: right;
  }
}
