@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Charter";
  font-display: swap;
  src: local("Charter"), url("../lib/Charter/charter_regular.woff2") format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Charter";
  font-display: swap;
  src: local("Charter Italic"), url("../lib/Charter/charter_italic.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Charter";
  font-display: swap;
  src: local("Charter Bold"), url("../lib/Charter/charter_bold.woff2") format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: "Charter";
  font-display: swap;
  src: local("Charter Bold Italic"), url("../lib/Charter/charter_bold_italic.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "JetBrains Mono";
  font-display: swap;
  src: local("JetBrains Mono"), local("JetBrains-Mono"), url("../lib/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("../lib/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff") format("woff"), url("../lib/JetBrainsMono/web/eot/JetBrainsMono-Regular.eot") format("embedded-opentype"), url("../lib/JetBrainsMono/web/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}
