// Fonts
$font-family-body: "Charter", "Source Serif 4", Georgia, serif;
$font-family-mono: "JetBrains Mono", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 18px;
$line-height: 1.6;
$page-width: 43rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic