// Fonts
$font-family-body: "Charter", "Source Serif 4", Georgia, serif;
$font-family-mono: "JetBrains Mono", monospace;
$font-size: 19px;
$line-height: 1.6;
$page-width: 47rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
